@import url('https://fonts.googleapis.com/css?family=Baloo+Tammudu');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR');

body{    

    background: #000;
    margin: 0;
    font-family: sans-serif; 
}

.palpe h1 {

    margin: 0;
    padding:0 0 10px;
    text-align: center;
    font-size: 30px;
    font-family: Baloo Tammudu;
    color:#b80f22;
}

.palpe{

    color: #fff;
    top:50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding:  70px 30px;
}

.palpe label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
    font-family: Noto Serif KR;
    font-size: 15px;
}


.palpe input{
    width: 100%;
    margin-bottom: 20px;
}

.palpe input[type="text"],
.palpe input[type="password"]{
    border:none;
    border-bottom: 3px solid #b80f22;
    background: transparent;
    outline: none;
    height: 30px;
    color: #fff;
    font-size: 10px;
}


.palpe input[type="submit"]{
    border:none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 15px;
    border-radius: 18px;
}
